<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 20px;
        height: 40px;
        
    }
    li {

        display: inline;
        
    }
    </style>

<body>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#cadastro">Cadastro</a></li>
        <li><a href="lista">Lista</a></li>
        <li><a href="login">Login</a></li>
            
    </ul>
    
</body>
</html>